.card {
  background: #ebe6df;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.hero-content {
  display: flex;
  gap: 15px;
  align-items: center;
}

.house-image {
  width: 130px;
}
.home-card {
  width: 100%;
  max-width: 640px;
  margin: 20px auto 24px;

  background-color: #f4f1ec;
  border-radius: 16px;
  padding: 28px 36px;

  display: flex;
  align-items: center;
  gap: 30px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
}

.progress-fill {
  width: 70%;
  height: 100%;
  background-color: #4f6f94;
  border-radius: 999px;
}

h1 {
  color: #486791;
  margin-bottom: -10px;
  font-size: 20px;
}

.progress-bar {
  height: 12px;
  background: #d8d8d8;
  border-radius: 20px;
  margin: 3px 0;
  overflow: hidden;
}

.progress {
  width: 70%;
  height: 100%;
  background: #486791;
  border-radius: 20px;
}

.overview {
  font-weight: bold;
  font-size: 14px;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task {
  background: #f7f4f0;
  border-radius: 20px;
  padding: 16px;
  margin-top: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task button {
  border: none;
  background: #ece7df;
  padding: 8px 12px;
  border-radius: 20px;
  font-weight: bold;
}

.task-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.admin-btn {
  margin-top: 20px;
  width: 100%;
  border: none;
  padding: 16px;
  border-radius: 30px;
  background: #486791;
  color: white;
  font-size: 16px;
}

.goal-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.large {
  flex: 1;
}

.percent {
  font-size: 28px;
  color: #486791;
  font-weight: bold;
}

.reset-page {
  width: 390px;
  margin: 0 auto;
  background-color: #faf8f5;
  padding: 40px 20px;
  height: auto;
  min-height: auto;
}

.icon-circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.check-circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #bbb;
  background: white;
  cursor: pointer;
}

.check-circle.done {
  background: green;
  border-color: green;
}

.completed {
  opacity: 0.5;
}

.reset {
  display: block;
  width: fit-content;
  margin: 30px auto;

  padding: 10px 22px;
  border: none;
  border-radius: 999px;
  background-color: #4f6f94;

  color: white;
  font-size: 16px;
  cursor: pointer;
}
main {
  min-height: auto;
}
